@import '../../assets/sass/index.scss';

.kui-checkbox {
    &__input {
        display: none;      
    }
    &__label {
        position: relative;
        display: block;
        width: 100%;
        min-height: $google-spacing * 3;
        padding-top: $google-spacing * .25;
        padding-right: $google-spacing * 6;
        font-size: $milli-size;
        user-select: none;
        cursor: pointer;
    }
    &__label:before,
    & &__checkmark {
        position: absolute;
        right: 0;
        top: $google-spacing / 4;
        height: $google-spacing * 2.25;
        width: $google-spacing * 2.25;
        color: $color-white;
        @include transition;
    }
    &__label:before {
        content: '';
        border: 2px solid calc-color(fade, $color-base, 30);
        border-radius: $base-radius;
    }
    &__checkmark {
        transform: scale(0);
    }
    &__input:checked + &__label:before {
        background-color: $color-purple;
        border-color: transparent;
    }
    &__input:checked + &__label &__checkmark {
        transform: scale(1);
    }

    &.kui-checkbox--direction_left {
        .kui-checkbox__label {
            padding-right: 0;
            padding-left: $google-spacing * 3.5;
    
            &:before,
            .kui-checkbox__checkmark {
                right: unset;
                left: 0;
            }
        }
    }
    
    &.kui-checkbox--color_black {
        .kui-checkbox__input:checked + .kui-checkbox__label:before {
            background-color: $color-base;
        }
    }

    &.kui-checkbox--color_light {
        .kui-checkbox {
            &__label:before,
            &__input:checked + &__label:before {
                background-color: transparent;
                border-color: transparent;
                @include transition;
            }

            &__checkmark {
                color: $color-purple;
            }
        }

        &.kui-checkbox--disabled {
            .kui-checkbox {
                &__checkmark {
                    opacity: .33;
                }
            }    
        }

        .kui-checkbox__input:not(:checked) + .kui-checkbox__label:before {
            border-color: calc-color(fade, $color-base, 15);
        }
    }

    &:focus {
        outline: 0;
    }

    &:before {
        @include transition;
        content: '';
        position: absolute;
        left: -$google-spacing;
        right: -$google-spacing;
        top: -$google-spacing * .5;
        bottom: -$google-spacing * .5;
        border-radius: $big-radius;
    }
    
    &:focus:before,
    &:hover:before {
        background: $color-light-background;
    }

    &.kui-checkbox--indeterminate {
        .kui-checkbox__label:before {
            background-color: $color-purple;
            border-color: transparent;
        }

        &.kui-checkbox--color_black {
            .kui-checkbox__label:before {
                background-color: $color-base;
            }
        }

        .kui-checkbox__label:after {
            content: '';
            position: absolute;
            right: 3px;
            top: 50%;
            transform: translateY(-2px);
            width: 12px;
            height: 2px;
            background: $color-white;
            border-radius: $small-radius;
        }

        &.kui-checkbox--direction_left {
            .kui-checkbox__label:after {
                right: unset;
                left: 3px;
            }
        }

        .kui-checkbox__checkmark {
            transform: scale(0) !important;
        }
    }

    &.kui-checkbox--disabled {
        pointer-events: none;

        .kui-checkbox__label {
            color: calc-color(fade, $color-base, 30);
            
            &:before {
                opacity: .33;
            }
        }
    }
}