@import '../../assets/sass/index.scss';
.kui-select-list-item {
    position: relative;
    display: flex;
    align-items: center;

    &__col {
        display: flex;
        align-items: center;
        
        &--icon {
            flex: 0 0 $google-spacing * 2;
            margin-right: $google-spacing;
            color: calc-color(fade, $color-base, 30);
        }
        &--title {
            flex: 1 1 100%;
            max-width: calc(100% - #{$google-spacing * 2.5});
            color: $color-base;

            .kui-select-list-item--with-list & {
                max-width: calc(60% - #{$google-spacing * 3});
                padding-right: $google-spacing;
            }
        }
        &--list {
            display: block;
            width: 40%;
            text-align: right;
        }
    }

    &__list,
    &__title {
        @extend %text-ellipsis;
    }

    &__list {
        color: calc-color(fade, $color-base, 60);
    }

    .kui-select--single & {
        display: inline-flex;
        max-width: 100%;
        @include transition;

        &:hover {
            font-weight: bold;
        }
    }

    &.kui-select-list-item--icon-size_24 {
        .kui-select-list-item__col--icon {
            flex: 0 0 $google-spacing * 3;
        }

        .kui-select-list-item__col--title {
            max-width: calc(100% - #{$google-spacing * 3.5});

            .kui-select-list-item--with-list & {
                max-width: calc(60% - #{$google-spacing * 4});
            }
        }
    }
}