@import '../../assets/sass/index.scss';
.page {
    padding: 2em;
}

section {
    margin: 0 0 2rem;
    z-index: $z-initials;

    &.section-grey,
    &.section-purple {
        margin-left: -2em;
        margin-right: -2em;
        padding: 2em;
    }

    &.section-grey {
        background: $color-background;
    }

    &.section-purple {
        color: $color-white;
        background: $color-purple;
    }

    &.section-form-min {
        max-width: $google-spacing * 50;
    }
}

.icons-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    text-align: center;

    &__item {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: center;
        width: $google-spacing * 16;
        height: $google-spacing * 8;
    }

    &__letter {
        margin: 1em 0 0;
        width: 100%;
        color: calc-color(tint, $color-base, 30);
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__icon,
    &__text {
        flex: 1 0 100%;
    }

    &__icon {
        margin-top: 1rem;
    }

    &__text {
        font-size: $piko-size;
        color: calc-color(fade, $color-base, 50);
    }

    &--large {
        .icons-grid__item {
            height: $google-spacing * 16;
        }
    }
}

.snackbars {
    .kui-snackbar__container {
        position: relative;
        left: 0;
        transform: translateX(0);
    }
}