@import '../../assets/sass/index.scss';

.kui-section-accordion {
    position: relative;

    & + & {
        margin-top: $google-spacing * 2;
    }

    &-header {
        position: sticky;
        z-index: $z-fold;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding: $google-spacing 0 $google-spacing / 2;
        border-bottom: 1px solid calc-color(fade, $color-base, 20);
        background: $color-white;

        &:before { // hide shadow of hovered items
            content: '';
            position: absolute;
            top: 0;
            left: -$google-spacing * 2;
            background: $color-white;
            width: calc(100% + #{$google-spacing * 4});
            height: 100%;
        }
    }

    &-button {
        &__icon {
            margin-right: $google-spacing;
        }
        & &__title {
            margin-left: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__arrow {
        margin-left: $google-spacing;
        @include transition;
    }

    &-action {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: $google-spacing * 2;
    }

    &-body {
        display: none;
        @include transition;
    }

    &--closed {
        .kui-section-accordion-body {
            display: block;
            overflow: hidden;
            animation: animation_height_close .3s ease forwards;
        }
    }

    &--opened {
        .kui-section-accordion-body {
            display: contents;
            animation: animation_height_open .3s ease forwards;
        }
    }

    &--opened-default {
        .kui-section-accordion-body {
            display: block;
        }
    }

    &--opened,
    &--opened-default {
        .kui-section-accordion__arrow {
            transform: scaleY(-1);
        }
    }

    &--color_grey {
        .kui-section-accordion-header {
            background: $color-background;

            &:before {
                background: $color-background;
            }
        }
    }

    &--variant_simple {
        .kui-section-accordion-header {
            border-bottom: none;
        }

        .kui-section-accordion-button {
            &__title {
                font-size: $base-font-size;
                font-weight: bold;
                opacity: 1;
            }
        }
    }
}

@keyframes animation_height_open {
    0% {
        height: auto;
        max-height: 0;
        overflow: hidden;
    }

    99% {
        max-height: 100vh;
        overflow: hidden;
    }

    100% {
        max-height: auto;
        overflow: visible;
    }
}
@keyframes animation_height_close {
    0% {
        max-height: 100vh;
    }

    100% {
        max-height: 0;
    }
}
