@import '../../assets/sass/index.scss';
.kui-input {
    &__item {        
        height: auto;
        resize: none;
        padding: $google-spacing $google-spacing * 2;
        font-size: $milli-size;
        line-height: $base-line-height;
        border-radius: $base-radius;
        border: 1px solid calc-color(tint, $color-base, 15);
        background: $color-white;
        @include transition;

        &::placeholder {
            color: calc-color(tint, $color-base, 50);
        }

        .kui-input--filled & {
            border-color: $color-base;
        }

        &:focus {
            border-color: $color-purple;
            box-shadow: none;
        }

        &:disabled {
            opacity: .5;
        }
    }

    &--disabled {
        .kui-label__item {
            color: calc-color(fade, $color-base, 30);
        }
    }
}