@import '../../assets/sass/index.scss';
.kui-input {
    position: relative;

    &__item {        
        height: auto;
        min-height: $google-spacing * 5;
        resize: none;
        padding: $google-spacing $google-spacing * 2;
        font-size: $milli-size;
        line-height: $base-line-height;
        border-radius: $base-radius;
        border: 1px solid calc-color(fade, $color-base, 15);
        background: $color-white;
        @include transition;

        &::placeholder {
            color: calc-color(fade, $color-base, 50);
        }

        .kui-input--filled & {
            border-color: $color-base;
            background: $color-light-background;
        }

        .kui-input--noresize & {
            height: $google-spacing * 5;
            overflow: hidden;
            white-space: nowrap;
        }

        .kui-input--variant_grey & {
            border-color: transparent;
        }

        &:focus {
            border-color: $color-purple;
            background: $color-light-background;
            box-shadow: none;
        }

        &:disabled {
            opacity: .5;
        }
    }

    &--disabled {
        .kui-label__item {
            color: calc-color(fade, $color-base, 30);
        }
    }

    &__icon-arrow {
        position: absolute;
        bottom: $google-spacing;
        right: $google-spacing;
        color: calc-color(fade, $color-base, 30);
        cursor: pointer;
        @include transition;
    }

    &--variant_arrow {
        .kui-input__item {
            padding-right: $google-spacing * 5;
        }
    }

    &__icon-clear {
        position: absolute;
        bottom: $google-spacing;
        right: $google-spacing;
        color: calc-color(fade, $color-base, 30);
        opacity: 0;
        cursor: pointer;
        @include transition;

        .kui-input--filled & {
            opacity: 1;
        }

        &:hover {
            color: $color-base;
        }
    }

    &-search {
        position: absolute;
        bottom: $google-spacing;
        left: 50%;
        transform: translateX(-50%);
        color: calc-color(fade, $color-base, 30);
        cursor: pointer;

        &__placeholder {
            padding-left: $google-spacing;
            color: calc-color(fade, $color-base, 60);
        }

        .kui-select--opened &,
        .kui-input--filled & {
            left: $google-spacing * 2;
            transform: translateX(0);

            &__icon {
                color: $color-base;
                animation: animation_imput_search .3s ease forwards;
            }

            &__placeholder {
                display: none;
            }
        }
        .kui-select--disabled & {
            opacity: .3;
        }
    }

    &--variant_search {
        .kui-input__item {
            padding-left: $google-spacing * 6;
        }
    }
}

@keyframes animation_imput_search {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}