@import '../../assets/sass/index.scss';
.kui-input {
    position: relative;

    input::-webkit-clear-button,
    input::-webkit-datetime-edit,
    input::-webkit-outer-spin-button, 
    input::-webkit-inner-spin-button,
    input::-webkit-search-cancel-button {
       -webkit-appearance: none;
       display: none;
    }
 
    input {
        -moz-appearance: textfield;
    }

    .kui-input__item {
        width: 100%;
        height: auto;
        min-height: $google-spacing * 5;
        resize: none;
        padding: $google-spacing $google-spacing * 2 $google-spacing * .75 $google-spacing * 1.5;
        font-size: $milli-size;
        line-height: $base-line-height;
        border-radius: $big-radius;
        border: 2px solid $color-background;
        background: $color-white;
        cursor: text;
        @include transition;

        &::placeholder {
            color: calc-color(fade, $color-base, 60);
        }

        .kui-input--noresize & {
            height: $google-spacing * 5;
            overflow: hidden;
            white-space: nowrap;
        }

        &:hover {
            border-color: $border-color-hover;
            background: $color-white;
        }

        &:focus {
            border-color: $color-purple;
            background: $color-white;
            box-shadow: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }


    &.kui-input--size_small {
        .kui-input__item {
            min-height: $google-spacing * 4;
            padding-left: $google-spacing * 1.25;
            font-size: $nano-size;
            border-radius: $base-radius;
        }

        .kui-input__icon {
            bottom: $google-spacing * .75;
        }
    }

    &.kui-input--filled {
        &:not(.kui-input--readonly,):not(.kui-input--disabled) {
            .kui-input__icon:not(.kui-input__icon--clear):not(.kui-input__icon--arrow) {
                color: calc-color(fade, $color-base, 60);
            }
        }
    }

    &.kui-input--readonly,
    &.kui-input--disabled {
        .kui-input__item {
            color: $color-base;
            border-color: transparent;
            background: $color-light-background;
        }
        .kui-input__icon {
            color: calc-color(fade, $color-base, 30);
            pointer-events: none;
        }
    }
    
    &.kui-input--disabled {
        .kui-input__item {
            color: calc-color(fade, $color-base, 60);
        }
        .kui-input__icon {
            color: calc-color(fade, $color-base, 10);
        }
    }

    &.kui-input--state_error {
        .kui-input__item {
            border-color: $color-red;
        }
    }

    &.kui-input--state_success {
        .kui-input__item {
            border-color: $color-green;
        }
    }

    &.kui-input--disabled {
        pointer-events: none;

        .kui-label__item {
            color: calc-color(fade, $color-base, 30);
        }
    }

    &__icon {
        position: absolute;
        bottom: $google-spacing;
        right: $google-spacing;
        color: calc-color(fade, $color-base, 30);
        cursor: pointer;
        @include transition;

        &:focus {
            outline: 0;
        }

        &--clear {
            height: 0;
            opacity: 0;
            color: calc-color(fade, $color-base, 30);
            @include transition;
            transition-property: color, opacity;

            .kui-input--filled & {
                height: $google-spacing * 3;
                opacity: 1;
            }

            &:hover {
                color: $color-base;
            }
        }
    }

    &.kui-input--variant_arrow,
    &.kui-input--variant_withicon {
        .kui-input__item {
            padding-right: $google-spacing * 5;
        }

        &:not(.kui-input--readonly) .kui-input__item:focus + .kui-input__icon,
        &:not(.kui-input--readonly):hover .kui-input__icon {
            color: $color-base;
        }
    }

    &.kui-input--variant_search {
        .kui-input__item {
            -webkit-appearance: textfield;
            padding-left: $google-spacing * 6;
            padding-right: $google-spacing * 4;
        }

        &:hover,
        &.kui-input:focus-within {
            .kui-input__item {
                border-color: $border-color-hover;
            }
        }
    }

    &.kui-input--color_grey:not(&:focus-within):not(&--filled),
    &.kui-input--color_grey.kui-input--variant_search {
        .kui-input__item {
            border-color: transparent;
            background: $color-white;
        }
    }
}

.kui-input-search {
    position: absolute;
    bottom: $google-spacing;
    left: 50%;
    transform: translateX(-50%);
    color: calc-color(fade, $color-base, 30);
    white-space: nowrap;
    cursor: pointer;

    &__placeholder {
        padding-left: $google-spacing;
        user-select: none;
    }
}

.kui-input:focus-within,
.kui-input--filled,
.kui-select--opened {
    .kui-input-search {
        left: $google-spacing * 2;
        transform: translateX(0);

        .kui-input-search__icon {
            color: $color-base;
            animation: animation_imput_search .3s ease forwards;

            &:focus {
                outline: 0;
            }
        }

        .kui-input-search__placeholder {
            display: none;
        }
    }
}

.kui-input:not(.kui-input--filled):not(.kui-input:focus-within) {
    .kui-input-search {
        animation: animation_imput_search .6s ease forwards;
    }
}

.kui-select--opened .kui-input {
    .kui-input-search {
        animation: none !important;

        .kui-input-search__icon {
            animation: none !important;
        }
    }
}

@keyframes animation_imput_search {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
