@import '../../assets/sass/index.scss';

.kui-tabs {
    display: inline-flex;

    &__item {        
        min-width: $google-spacing * 16;
        height: auto;
        padding: $google-spacing * 2 $google-spacing * 2 $google-spacing;
        color: calc-color(tint, $color-base, 50);
        font-weight: normal;
        background: $color-light-background;
        border-radius: 0;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: transparent;
            @include transition;
        }

        &:active,
        &:focus,
        &:hover {
            color: $color-base;
            background: $color-light-background;
            box-shadow: none;
        }

        &--active {
            color: $color-base;
            cursor: default;
            
            &:after {
                background: $color-purple;
            }
        }
    }

    &--large {
        .kui-tabs__item {        
            min-width: $google-spacing * 20;
            padding: $google-spacing * 3 $google-spacing * 3 $google-spacing * 2;
        }
    }
}
