@import '../../assets/sass/index.scss';
.kui-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    max-width: 100%;
    min-width: $google-spacing * 8;
    padding: 0;
    line-height: inherit;
    white-space: nowrap;
    color: $color-purple;
    font-size: $milli-size;
    font-weight: bold;
    background: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include transition;

    &__icon {          
        @include transition;
    }

    &:active,
    &:focus,
    &:hover {
        color: $color-purple-hover;
        outline: 0;
        background: none;
        border: 0;
        box-shadow: none;
    }

    &--disabled,
    &:disabled {
        pointer-events: none;
        color: $color-purple-light;
    }

    &--variant_primary {
        height: $google-spacing * 4;
        padding: 0 $google-spacing;
        color: $color-white;
        background: $color-purple;
        border-radius: $big-radius;

        &:focus {
            color: $color-white;
            background: $color-purple-hover;
        }

        &:hover {
            color: $color-white;
            background: $color-purple-hover;
        }

        &:active {
            color: $color-white;
            background: $color-purple;
        }

        &.kui-button--disabled,
        &:disabled {
            color: $color-white;
            background: $color-purple-light;
        }
    }

    &--color_white {
        background: calc-color(fade, $color-white, 30);

        &:focus {
            background: calc-color(fade, $color-white, 50);
        }

        &:hover {
            background: calc-color(fade, $color-white, 50);
        }

        &:active {
            background: calc-color(fade, $color-white, 30);
        }

        &.kui-button--disabled,
        &:disabled {
            background: calc-color(fade, $color-white, 30);
            opacity: .5;
        }
    }

    &--variant_secondary {
        height: $google-spacing * 4;
        padding: 0 $google-spacing;
        border: 2px solid $color-purple-light;
        border-radius: $big-radius;

        &:focus,
        &:hover  {
            background: calc-color(fade, $color-purple, 10);
            border: 2px solid $color-purple-light;
        }

        &:active {
            background: none;
            border: 2px solid $color-purple-light;
        }

        &.kui-button--disabled,
        &:disabled {
            color: $color-purple-light;
            background: none;
            border: 2px solid calc-color(fade, $color-purple, 20);
        }
    }

    &--size_large {
        min-width: $google-spacing * 16;
        height: $google-spacing * 5;
        padding: 0 $google-spacing * 3;
    }

    &--variant_fab {
        min-width: 0;
        color: calc-color(fade, $color-base, 50);

        .kui-button__text {
            margin-left: $google-spacing;
            font-weight: normal;
        }

        .kui-button__children {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $google-spacing * 5;
            min-width: $google-spacing * 5;
            height: $google-spacing * 5;
            color: calc-color(fade, $color-base, 30);
            background: $color-white;
            border: 2px solid calc-color(fade, $color-base, 20);
            border-radius: $big-radius;
            @include transition;
        }

        &.kui-button--disabled,
        &:disabled {
            color: calc-color(fade, $color-base, 30);

            .kui-button__children {
                color: calc-color(fade, $color-base, 10);
                border-color: calc-color(fade, $color-base, 15);
            }
        }

        &:focus {
            color: calc-color(fade, $color-base, 90);

            .kui-button__children {
                color: calc-color(fade, $color-base, 50);
            }
        }

        &.kui-button--hover,
        &:hover {
            color: calc-color(fade, $color-base, 90);

            .kui-button__children {
                color: calc-color(fade, $color-base, 90);
                border-color: calc-color(fade, $color-base, 30);
            }
        }

        &:active {
            .kui-button__children {
                color: $color-white;
                border-color: calc-color(fade, $color-base, 0);
                background: $color-purple;
            }
        }

        &.kui-button--color_purple {
            color: $color-purple;

            .kui-button__children {
                color: $color-white;
                background: $color-purple;
                border-color: calc-color(fade, $color-base, 0);
            }

            &:focus {
                .kui-button__children {
                    color: $color-white;
                    background: $color-purple-hover;
                }
            }

            &.kui-button--hover,
            &:hover {
                .kui-button__children {
                    color: $color-white;
                    background: $color-purple-hover;
                }
            }

            &:active {
                .kui-button__children {
                    color: $color-white;
                    background: $color-purple;
                }
            }

            &.kui-button--disabled,
            &:disabled {
                color: calc-color(fade, $color-purple, 30);

                .kui-button__children {
                    color: calc-color(fade, $color-white, 50);
                    background: calc-color(fade, $color-purple, 30);
                }
            }
        }

        &.kui-button--color_black {
            color: $color-base;

            .kui-button__children {
                color: $color-white;
                background: $color-base;
                border-color: transparent;
            }

            &.kui-button--hover,
            &:focus,
            &:hover {
                color: calc-color(tint, $color-base, 90);

                .kui-button__children {
                    background: calc-color(tint, $color-base, 80);
                }
            }

            &:active {
                color: $color-base;

                .kui-button__children {
                    background: $color-base;
                }
            }

            &.kui-button--disabled,
            &:disabled {
                color: calc-color(fade, $color-base, 30);

                .kui-button__children {
                    background: calc-color(fade, $color-base, 30);
                }
            }
        }

        &.kui-button--color_white {
            color: $color-white;
            background: transparent;

            .kui-button__children {
                color: $color-white;
                background: calc-color(fade, $color-white, 30);
                border-color: transparent;
            }

            &.kui-button--hover,
            &:focus,
            &:hover {
                .kui-button__children {
                    background: calc-color(fade, $color-white, 50);
                }
            }

            &:active {
                .kui-button__children {
                    background: $color-purple;
                }
            }

            &.kui-button--disabled,
            &:disabled {
                .kui-button__children {
                    color: calc-color(fade, $color-white, 30);
                    background: calc-color(fade, $color-white, 30);                   
                }
            }
        }
    }

    &--variant_action {
        height: $google-spacing * 4;
        padding: 0 $google-spacing * 2 0 $google-spacing;
        color: calc-color(tint, $color-base, 50);
        border: 2px solid calc-color(tint, $color-base, 20);
        border-radius: $big-radius;

        .kui-button__icon {
            margin-right: $google-spacing / 2;
            color: calc-color(fade, $color-base, 30);
        }

        &:focus {
            color: calc-color(fade, $color-base, 80);
            background: calc-color(fade, $color-base, 0);
            border: 2px solid calc-color(tint, $color-base, 30);
        }
        
        &:hover {
            color: calc-color(fade, $color-base, 80);
            border: 2px solid calc-color(tint, $color-base, 30);

            .kui-button__icon {
                color: calc-color(fade, $color-base, 80);
            }
        }

        &:active {
            background: calc-color(fade, $color-base, 5);

            .kui-button__icon {
                color: calc-color(fade, $color-base, 80);
            }
        }

        &.kui-button--disabled,
        &:disabled {
            color: calc-color(fade, $color-base, 30);
            border-color: calc-color(fade, $color-base, 15);

            .kui-button__icon {
                color: calc-color(fade, $color-base, 15);
            }
        }

        &.kui-button--color_white {
            color: calc-color(fade, $color-white, 90);
            background: calc-color(fade, $color-white, 30);
            border: none;

            .kui-button__icon {
                color: calc-color(fade, $color-white, 50);
            }

            &:focus {
                background: calc-color(fade, $color-white, 30);
            }

            &:hover {
                background: calc-color(fade, $color-white, 50);
            }

            &:active {
                background: calc-color(fade, $color-white, 30);
            }

            &.kui-button--disabled,
            &:disabled {
                background: calc-color(fade, $color-white, 30);
                opacity: .5;
            }
        }
    }

    &--variant_text {        
        .kui-button__icon {
            margin-left: $google-spacing / 2;
        }

        &:focus {
            .kui-button__icon {
                transform: translateX($google-spacing / 2);
            }
        }
        
        &:hover {
            .kui-button__icon {
                transform: translateX($google-spacing / 2);
            }
        }

        &:active {
            .kui-button__icon {
                transform: translateX(0);
            }
        }

        &.kui-button--disabled {
            color: $color-purple-light;

            .kui-button__icon {
                transform: translateX(0);
            }
        }
    }

    &--variant_icon,
    &--variant_icon-text {
        min-width: 0;
        color: inherit;

        .kui-icon {
            opacity: .3;
            @include transition;
        }

        .kui-button__text {
            margin-left: $google-spacing;
            font-weight: normal;
            opacity: .6;
            @include transition;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: $google-spacing * 5;
            height: $google-spacing * 5;
            content: '';
            border-radius: $google-spacing * 5;
        }

        &:focus,
        &:hover {
            color: inherit;
            
            .kui-icon {
                opacity: .9;
            }

            .kui-button__text {
                opacity: 1;
            }
        }

        &:active {
            color: inherit;
            opacity: .7;
        }

        &.kui-button--disabled,
        &:disabled {
            color: inherit;

            .kui-icon {
                opacity: .15;
            }
            
            .kui-button__text {
                opacity: .3;
            }
        }
    }

    &--variant_icon-text {
        justify-content: flex-start;
        &:before {
            left: $google-spacing * 1.5;
        }
    }

    &--variant_add {
        width: 100%;
        justify-content: space-between;
        height: $google-spacing * 5;
        padding: 0 $google-spacing 0 $google-spacing * 2;
        color: $color-base;
        border: 2px dashed calc-color(fade, $color-base, 20);
        border-radius: $big-radius;

        .kui-button__icon {
            margin-left: $google-spacing;
            color: calc-color(fade, $color-base, 30);
        }

        &:focus {
            color: $color-base;
            border: 2px dashed calc-color(fade, $color-base, 30);

            .kui-button__icon {
                color: $color-base;
            }
        }

        &:hover {
            color: $color-base;
            border: 2px dashed calc-color(fade, $color-base, 30);

            .kui-button__icon {
                color: $color-base;
            }
        }

        .kui-button-dropdown--opened > &,
        &:active {
            background: calc-color(fade, $color-base, 5);
            border: 2px dashed calc-color(fade, $color-base, 30);

            .kui-button__icon {
                color: $color-base;
                transform: rotate(-45deg);
            }
        }

        &.kui-button--disabled,
        &:disabled {
            color: calc-color(fade, $color-base, 30);
            pointer-events: none;
        }
    }

    &--progress {
        pointer-events: none;
        overflow: hidden;
    }

    &__progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: calc-color(fade, $color-white, 30);
        @include transition;

        .kui-button--variant_secondary & {
            background: calc-color(fade, $color-purple, 30);
        }
        .kui-button--variant_secondary.kui-button--disabled &,
        .kui-button--variant_secondary:disabled & {
            background: calc-color(fade, $color-purple, 20);
        }
    }
}

@each $media, $size in $media-screens {
    @media (max-width: $size) {
        .kui-button--maxwidth_#{$media} {
            &.kui-button--variant_icon-text {
                .kui-button__text {
                    display: none;
                }
            }
        }
    }
}
