@import '../../assets/sass/index.scss';
.kui-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    min-width: $google-spacing * 8;
    padding: 0;
    line-height: inherit;
    white-space: nowrap;
    color: $color-purple;
    font-weight: 600;
    background: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include transition;

    &__icon {          
        @include transition;
    }

    &:active,
    &:focus,
    &:hover {
        color: calc-color(tint, $color-purple, 90);
        outline: 0;
        background: none;
        border: 0;
        box-shadow: none;
    }

    &--disabled,
    &:disabled {
        color: calc-color(tint, $color-purple, 30);        
    }

    &--primary,
    &--primary_white {
        height: $google-spacing * 4;
        padding: 0 $google-spacing;
        color: $color-white;
        background: $color-purple;
        border-radius: $big-radius;
        box-shadow: none;

        &:focus {
            color: $color-white;
            background: calc-color(tint, $color-purple, 90);
        }

        &:hover {
            color: $color-white;
            background: calc-color(tint, $color-purple, 90);
            box-shadow: $shadow-hover;
        }

        &:active {
            color: $color-white;
            background: $color-purple;
            box-shadow: none;
        }

        &.kui-button--disabled,
        &:disabled {
            color: $color-white;
            background: calc-color(tint, $color-purple, 30);
            box-shadow: none;
        }
    }

    &--primary_white {
        background: calc-color(fade, $color-white, 30);

        &:focus {
            background: calc-color(fade, $color-white, 30);
        }

        &:hover {
            background: calc-color(fade, $color-white, 50);
            box-shadow: none;
        }

        &:active {
            background: calc-color(fade, $color-white, 30);
        }

        &.kui-button--disabled,
        &:disabled {
            background: calc-color(fade, $color-white, 30);
            opacity: .5;
        }
    }

    &--secondary {
        height: $google-spacing * 4;
        padding: 0 $google-spacing;
        border: 2px solid calc-color(tint, $color-purple, 30);
        border-radius: $big-radius;

        &:focus {
            background: calc-color(fade, $color-purple, 5);
            border: 2px solid calc-color(tint, $color-purple, 30);
        }
        
        &:hover {
            color: $color-white;
            background: $color-purple;
            border: 2px solid calc-color(fade, $color-purple, 0);

        }

        &:active {
            background: calc-color(tint, $color-purple, 90);
            border: 2px solid calc-color(fade, $color-purple, 0);
        }

        &.kui-button--disabled,
        &:disabled {
            color: calc-color(fade, $color-purple, 30);
            background: none;
            border: 2px solid calc-color(tint, $color-purple, 20);
        }
    }

    &--large {
        min-width: $google-spacing * 16;
        height: $google-spacing * 5;
        padding: 0 $google-spacing * 3;
    }

    &--fab {
        min-width: 0;

        .kui-button__children {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $google-spacing * 5;
            min-width: $google-spacing * 5;
            height: $google-spacing * 5;
            color: $color-white;
            background: $color-purple;
            border-radius: $google-spacing * 5;
            box-shadow: none;
        }

        &:focus {
            .kui-button__children {
                background: calc-color(tint, $color-purple, 90);
            }
        }

        &:hover {
            .kui-button__children {
                background: calc-color(tint, $color-purple, 90);
                box-shadow: $shadow-hover;
            }
        }

        &:active {
            .kui-button__children {
                background: calc-color(tint, $color-purple, 90);
                box-shadow: none;
            }
        }

        &.kui-button--disabled,
        &:disabled {
            .kui-button__children {
                background: calc-color(tint, $color-purple, 30);
                box-shadow: none;
            }
        }

        &.kui-button--large {
            min-width: 0;
            padding: 0;
            .kui-button__children {
                width: $google-spacing * 7;
                height: $google-spacing * 7;
            }
        }

        &.kui-button--black {
            color: $color-base;

            .kui-button__children {
                color: $color-white;
                background: $color-base;
            }

            &:active,
            &:focus,
            &:hover {
                color: calc-color(tint, $color-base, 90);

                .kui-button__children {
                    background: calc-color(tint, $color-base, 90);
                }
            }

            &.kui-button--disabled,
            &:disabled {
                color: calc-color(tint, $color-base, 30);

                .kui-button__children {
                    background: calc-color(tint, $color-base, 30);
                }
            }
        }
    }

    &--action {
        height: $google-spacing * 4;
        padding: 0 $google-spacing * 2 0 $google-spacing;
        color: calc-color(tint, $color-base, 80);
        border: 2px solid calc-color(tint, $color-base, 20);
        border-radius: $big-radius;

        .kui-button__icon {
            margin-right: $google-spacing / 2;
            color: calc-color(tint, $color-base, 30);
        }

        &:focus {
            color: calc-color(tint, $color-base, 80);
            background: calc-color(fade, $color-base, 5);
            border: 2px solid calc-color(tint, $color-base, 20);
        }
        
        &:hover {
            color: calc-color(tint, $color-base, 80);
            border: 2px solid calc-color(tint, $color-base, 20);

            .kui-button__icon {
                color: calc-color(tint, $color-base, 80);
            }
        }

        &:active {
            background: calc-color(fade, $color-base, 0);

            .kui-button__icon {
                color: calc-color(tint, $color-base, 80);
            }
        }

        &.kui-button--disabled,
        &:disabled {
            color: calc-color(tint, $color-base, 30);

            .kui-button__icon {
                color: calc-color(tint, $color-base, 30);
            }
        }
    }

    &--text {        
        .kui-button__icon {
            margin-left: $google-spacing / 2;
        }

        &:focus {
            .kui-button__icon {
                transform: translateX($google-spacing / 2);
            }
        }
        
        &:hover {
            .kui-button__icon {
                transform: translateX($google-spacing / 2);
            }
        }

        &:active {
            .kui-button__icon {
                transform: translateX(0);
            }
        }

        &.kui-button--disabled {
            color: calc-color(tint, $color-purple, 30);

            .kui-button__icon {
                transform: translateX(0);
            }
        }
    }

    &--icon,
    &--icon-text {
        min-width: 0;
        color: inherit;
        opacity: .3;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: $google-spacing * 6;
            height: $google-spacing * 6;
            content: '';
            border-radius: $google-spacing * 6;
        }

        &:focus {
            color: inherit;
            opacity: .4;
        }

        &:hover,
        &.kui-button--disabled,
        &:disabled {
            color: inherit;
            opacity: .9;
        }

        &:active {
            color: inherit;
            opacity: .7;
        }

        &.kui-button--disabled,
        &:disabled {
            opacity: .1;
        }
    }

    &--icon-text {
        justify-content: flex-start;
        &:before {
            left: $google-spacing * 1.5;
        }
    }

    &__text {
        margin-left: $google-spacing;
        font-weight: normal;
    }
}