@import '../../assets/sass/index.scss';

.kui-loader-block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-modal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: calc-color('fade', $color-white, 70);
    pointer-events: none;
    @include transition;
}
