@import '../../assets/sass/index.scss';

.kui-buttons_segmented {
    display: inline-flex;
    border: 2px solid calc-color(fade, $color-purple, 30);
    border-radius: $big-radius;

    &__item {
        box-sizing: content-box;
        padding: 0 $google-spacing * 2;
        margin-top: -2px;
        margin-bottom: -2px;
        color: $color-purple;
        background: transparent;
        border-radius: 0;
        z-index: $z-initials;
        transition-property: color, background;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% - 4px);
            background: $color-white;
            z-index: -$z-initials;
            @include transition;
        }

        &:first-of-type,
        &:first-of-type:before {
            border-top-left-radius: $big-radius;
            border-bottom-left-radius: $big-radius;
        }

        &:last-of-type, 
        &:last-of-type:before {
            border-top-right-radius: $big-radius;
            border-bottom-right-radius: $big-radius;
        }

        &:active,
        &:focus,
        &:hover {
            color: $color-purple;
            background: transparent;
            box-shadow: none;

            &:before {
                background: $color-background;
            }
        }

        &--active {
            color: $color-white;
            background: $color-purple;
            cursor: default;

            &.kui-buttons_segmented__item {
                &:first-of-type {
                    margin-left: -2px;
                    border-left: 2px solid transparent;
                }

                &:last-of-type {
                    margin-right: -2px;
                    border-right: 2px solid transparent;
                }
            }

            &:before {
                background: transparent;
            }

            &:active,
            &:focus,
            &:hover {
                color: $color-white;
                background: calc-color(tint, $color-purple, 90);

                &:before {
                    background: transparent;
                }
            }
        }
    }

    &--black {
        border: 2px solid calc-color(fade, $color-base, 30);
        
        .kui-buttons_segmented__item {
            color: $color-base;

            &:active,
            &:focus,
            &:hover {
                color: $color-base;
            }

            &--active {
                color: $color-white;
                background: $color-base;
                
                &:active,
                &:focus,
                &:hover {
                    color: $color-white;
                    background: calc-color(tint, $color-base, 90);
                }
            }
        }
    }
}
