.buttons_segmented {
    margin-top: -$google-spacing;
    margin-left: -$google-spacing;

    .button {
        margin-top: $google-spacing;
        margin-left: $google-spacing;
    }
    
    &--m_large {
        margin-top: -$google-spacing * 2;
        margin-left: -$google-spacing * 2;

        .button {
            margin-top: $google-spacing * 2;
            margin-left: $google-spacing * 2;
        }
    }       
}