@import '../../assets/sass/index.scss';

.kui-button-dropdown {
    position: relative;
    display: inline-block;

    &__item {
        color: calc-color(tint, $color-base, 50);
        background: $color-white;
        
        .kui-button__icon {
            color: calc-color(tint, $color-base, 30);
        }

        .kui-button-dropdown--opened & {
            color: $color-base;
            background: calc-color(fade, $color-background, 50);
            
            .kui-button__icon {
                color: $color-base;
            }
        }
    }

    &__dropdown {
        min-width: $google-spacing * 25;
    }

    &--disabled {
        cursor: default;
        pointer-events: none;
    }

    &--variant_right {
        .kui-button-dropdown__dropdown {
            right: 0;
        }
    }
}