@import '../../assets/sass/index.scss';

.kui-button-dropdown {
    display: inline-block;

    &__item {
        .kui-button__icon {
            @include theme() {
                color: calc-color(tint, theme-get('color-base'), 30);
            }
        }

        .kui-button-dropdown--opened > & {
            @include theme() {
                color: theme-get('color-base');
                background: calc-color(fade, theme-get('color-background'), 50);
            }
            
            .kui-button__icon {
                @include theme() {
                    color: theme-get('color-base');
                }
            }
        }
    }

    .kui-dropdown__item {
        min-width: $google-spacing * 25;
    }

    &.kui-button-dropdown--disabled:not(.kui-button-dropdown--opened) {
        cursor: default;
        pointer-events: none;
    }
}
