@import '../../assets/sass/index.scss';
.kui-datepicker {
    display: inline-block;
    width: $google-spacing * 18;

    &:focus {
        outline: 0;
    }
    
    .kui-input__item {
        color: $color-base;
        border-color: $color-background;
        cursor: text;

        &:focus {
            border-color: $border-color-hover;
        }
    }

    .kui-input__item[readonly] {
        cursor: pointer;
    }
    
    &.kui-datepicker--readonly {
        .kui-input__item {
            cursor: text;
        }
        .kui-input__icon {
            pointer-events: none;
        }
    }
    
    &:not(.kui-datepicker--readonly):not(.kui-datepicker--disabled):hover,
    .kui-input.react-datepicker-ignore-onclickoutside { // opened
        .kui-input__item {
            border-color: $border-color-hover !important;
            background: $color-white;
        }

        .kui-input__icon:not(.kui-input__icon--clear) {
            color: $color-base;
        }
    }

    .react-datepicker-popper {
        z-index: $z-modal;
        border-radius: $big-radius;
        box-shadow: $shadow-hover;
        background: $color-white;
        user-select: none;

        &[data-placement^="bottom"] {
            margin-top: $google-spacing;
            padding-top: 0;
        }

        &[data-placement^="top"] {
            margin-bottom: $google-spacing;
            padding-bottom: 0;
        }

        &[data-placement^="right"] {
            margin-left: $google-spacing;
            padding-left: 0;
        }

        &[data-placement^="left"] {
            margin-right: $google-spacing;
            padding-right: 0;
        }
    }

    .react-datepicker {
        font-family: inherit;
        font-size: $milli-size;
        background-color: $color-white;
        color: $color-base;
        border: 0 none;
        border-radius: $big-radius;
    }

    .react-datepicker__triangle {
        display: none;
    }

    .react-datepicker__header {
        padding-top: 0;
        background-color: $color-white;
        border-bottom: 0 none;
        border-top-left-radius: $base-radius;
        border-top-right-radius: $base-radius;

        .react-datepicker__current-month,
        .react-datepicker-time__header,
        .react-datepicker-year-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $google-spacing * 5;
            line-height: $google-spacing * 4;
            color: $color-base;
            font-size: $milli-size;
        }

        .react-datepicker__day-names {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 $google-spacing;
            background-color: $color-purple;

            .react-datepicker__day-name {
                display: flex;
                align-items: center;
                justify-content: center;
                height: $google-spacing * 2;
                width: $google-spacing * 4;
                color: $color-white;
                font-weight: bold;
            }
        }
    }

    .react-datepicker__month {
        padding: $google-spacing;
        margin: 0;

        .react-datepicker__week {
            display: flex;

            .react-datepicker__day {
                display: flex;
                align-items: center;
                justify-content: center;
                height: $google-spacing * 4;
                width: $google-spacing * 4;
                font-size: $milli-size;
                @include transition;

                &--outside-month {
                    color: calc-color('tint', $color-base, 30);
                }

                &:hover {
                    color: $color-base;
                    background-color: $color-background;
                    border-radius: $big-radius;
                }

                &--selected,
                &--keyboard-selected,
                &--highlighted {
                    border-radius: $big-radius;
                }

                &--highlighted {
                    color: $color-base;
                    background-color: calc-color('fade', $color-purple, 30);
                }

                &--selected,
                &--selected:hover {
                    background-color: $color-purple;
                }

                &--keyboard-selected,
                &--keyboard-selected:hover {
                    color: $color-base;
                    background-color: transparent;
                }

                &--disabled,
                &--disabled:hover {
                    cursor: default;
                    color: calc-color('tint', $color-base, 30);
                    background-color: transparent;
                }
            }
        }
    }

    .react-datepicker-arrow {
        width: $google-spacing * 3;
        height: $google-spacing * 3;
        background: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.7 8.1a1 1 0 0 0 0-1.4 1 1 0 0 0-1.4 0l-4.6 4.6a1 1 0 0 0 0 1.4l4.6 4.6a1 1 0 0 0 1.4-1.4L10.8 12l3.9-3.9z'/%3E%3C/svg%3E");
    }

    .react-datepicker__navigation {
        position: absolute;
        top: $google-spacing;
        box-shadow: none;
        border: 0 none;
        opacity: .3;

        &:hover {
            opacity: 1;
        }

        &.react-datepicker__navigation--previous {
            @extend .react-datepicker-arrow;
            left: $google-spacing;
            
        }

        &.react-datepicker__navigation--next {
            @extend .react-datepicker-arrow;
            right: $google-spacing;
            transform: rotate(180deg);
        }
    }

    .react-datepicker__navigation-icon {
        display: none;
    }

    .react-datepicker__current-month--hasYearDropdown + .react-datepicker__header__dropdown {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: $google-spacing * 5;
        font-weight: bold;
        background: $color-white;
    }

    .react-datepicker__month,
    .react-datepicker__year {
        &-dropdown-container {
            //transform: translateX($google-spacing);
        }

        &-read-view {
            padding-right: 20px;
            visibility: visible !important;
        }

        &-read-view--down-arrow {
            margin: 0;
            top: unset;
            bottom: unset;
            left: unset;
            right: 0;
            border: 0 none;
            @extend .react-datepicker-arrow;
            transform: rotate(-90deg) scale(.7);
            opacity: .3;

            &:hover {
                opacity: 1;
            }

            &:before {
                display: none;
            }
        }

        &-dropdown {
            padding: $google-spacing 0;
            top: $google-spacing * 5;
            font-weight: normal;
            border: 2px solid calc-color(fade, $color-base, 20);
            background: $color-white;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            @include transition;
        }

        &-option {
            position: relative;
            line-height: $google-spacing * 3;
            @include transition;

            &:hover {
                background: $color-background;
            }
        }

        &-option--selected {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: -80%;
            background: calc-color(fade, $color-base, 15);
            z-index: -1;
        }
    }
}
