@import '../../assets/sass/index.scss';

#kui-portal {
    position: absolute;
    top: 0; // иначе min-height у тултипа добавлял вертикальную прокрутку
    width: 100vw;
}

.kui-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: $z-tooltip;
    max-width: calc(100vw - #{$google-spacing * 4});
    min-height: $google-spacing * 4;
    padding: $google-spacing;
    white-space: normal;
    color: $color-white;
    font-size: $milli-size;
    text-align: left;
    border-radius: $big-radius;
    background: calc-color(fade, $color-base, 90);
    visibility: hidden;
    will-change: transform;

    &.kui-tooltip--direction_left,
    &.kui-tooltip--direction_up-left,
    &.kui-tooltip--direction_down-left {
        left: unset;
        right: 0;
    }

    &.kui-tooltip--direction_up,
    &.kui-tooltip--direction_up-left,
    &.kui-tooltip--direction_up-right {
        top: unset;
        bottom: 0;
    }

    a {
        color: $color-white;
    }

    &.kui-tooltip--link {
        cursor: pointer;
    }

    &.kui-tooltip--footer {
        padding: $google-spacing * 2;
    }

    &--empty {
        visibility: hidden !important;
        animation: none !important;
    }

    &--state_error {
        background: $color-red;
    }

    &--state_success {
        background: $color-green;
    }

    &--show {
        visibility: visible;
        animation: tooltip_down_center_show .2s ease forwards;
    }
    &--hide {
        animation: tooltip_down_center_hide .2s ease forwards;
    }

    &--show.kui-tooltip--direction_up {
        animation: tooltip_up_center_show .2s ease forwards;
    }
    &--hide.kui-tooltip--direction_up {
        animation: tooltip_up_center_hide .2s ease forwards;
    }

    &--show.kui-tooltip--direction_left {
        animation: tooltip_left_show .2s ease forwards;
    }
    &--hide.kui-tooltip--direction_left {
        animation: tooltip_left_hide .2s ease forwards;
    }

    &--show.kui-tooltip--direction_right {
        animation: tooltip_right_show .2s ease forwards;
    }
    &--hide.kui-tooltip--direction_right {
        animation: tooltip_right_hide .2s ease forwards;
    }

    &--show.kui-tooltip--direction_down-left,
    &--show.kui-tooltip--direction_down-right {
        animation: tooltip_down_show .2s ease forwards;
    }
    &--hide.kui-tooltip--direction_down-left,
    &--hide.kui-tooltip--direction_down-right {
        animation: tooltip_down_hide .2s ease forwards;
    }

    &--show.kui-tooltip--direction_up-left,
    &--show.kui-tooltip--direction_up-right {
        animation: tooltip_up_show .2s ease forwards;
    }
    &--hide.kui-tooltip--direction_up-left,
    &--hide.kui-tooltip--direction_up-right {
        animation: tooltip_up_hide .2s ease forwards;
    }
    
    &.kui-tooltip--arrow-up {
        margin-top: $google-spacing;
    }
    &.kui-tooltip--arrow-right {
        margin-right: $google-spacing;
    }
    &.kui-tooltip--arrow-down {
        margin-bottom: $google-spacing;
    }
    &.kui-tooltip--arrow-left {
        margin-left: $google-spacing;
    }

    &.kui-tooltip--noevents {
        pointer-events: none;
    }

    &.kui-tooltip--nowrap {
        white-space: nowrap;
    }
}

.kui-tooltip__header {
    margin-bottom: $google-spacing;
    font-size: $google-spacing * 2.5;
    font-weight: bold;
}

.kui-tooltip__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $google-spacing * 2;
}

.kui-tooltip__arrow {
    position: absolute;
    color: calc-color(fade, $color-base, 90);

    .kui-tooltip--arrow-up &,
    .kui-tooltip--arrow-down & {
        height: $google-spacing;
    }

    .kui-tooltip--arrow-up:not(.kui-tooltip--arrowTranslate) &,
    .kui-tooltip--arrow-down:not(.kui-tooltip--arrowTranslate) & {
        left: 50%;
        width: 50%;
    }

    .kui-tooltip--arrow-up & {
        bottom: 100%;
    }

    .kui-tooltip--arrow-down & {
        top: 100%;
    }

    .kui-tooltip--arrow-left &,
    .kui-tooltip--arrow-right & {
        width: $google-spacing;
    }

    .kui-tooltip--arrow-left:not(.kui-tooltip--arrowTranslate) &,
    .kui-tooltip--arrow-right:not(.kui-tooltip--arrowTranslate) & {
        top: 50%;
        height: 50%;
    }

    .kui-tooltip--arrow-left & {
        right: 100%;
    }

    .kui-tooltip--arrow-right & {
        left: 100%;
    }
}

.kui-tooltip__arrow-icon {
    position: absolute;

    .kui-tooltip--arrow-up & {
        bottom: 0;
    }

    .kui-tooltip--arrow-down & {
        top: 0;
    }

    .kui-tooltip--arrow-left & {
        right: 0;
    }

    .kui-tooltip--arrow-right & {
        left: 0;
    }
}

.kui-tooltip--arrow-up,
.kui-tooltip--arrow-down {
    &:not(.kui-tooltip--arrowTranslate) .kui-tooltip__arrow-icon {
        transform: translateX(-50%);
    }
}

.kui-tooltip--arrow-left,
.kui-tooltip--arrow-right {
    &:not(.kui-tooltip--arrowTranslate) .kui-tooltip__arrow-icon {
        transform: translateY(-50%);
    }
}

.kui-portal--tooltip-hidden {
    position: absolute;
    overflow: hidden;
}

.kui-portal--tooltip-in-target {
    position: absolute;
    width: 100vw;
}

.kui-tooltip-target {
    position: relative;
}

@keyframes tooltip_down_center_show {
    0% {
        z-index: $z-tooltip + 5;
        transform: translateY($google-spacing * 2);
    }
    100% {
        transform: translateY($google-spacing);
    }
}
@keyframes tooltip_down_center_hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY($google-spacing);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY($google-spacing * 2);
    }
}

@keyframes tooltip_up_center_show {
    0% {
        z-index: $z-tooltip + 5;
        transform: translateY(-$google-spacing * 2);
    }
    100% {
        transform: translateY(-$google-spacing);
    }
}
@keyframes tooltip_up_center_hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-$google-spacing);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-$google-spacing * 2);
    }
}

@keyframes tooltip_left_show {
    0% {
        z-index: $z-tooltip + 5;
        transform: translateX(-$google-spacing * 2);
    }
    100% {
        transform: translateX(-$google-spacing);
    }
}
@keyframes tooltip_left_hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-$google-spacing);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-$google-spacing * 2);
    }
}

@keyframes tooltip_right_show {
    0% {
        z-index: $z-tooltip + 5;
        transform: translateX($google-spacing * 2);
    }
    100% {
        transform: translateX($google-spacing);
    }
}
@keyframes tooltip_right_hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX($google-spacing);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX($google-spacing * 2);
    }
}

@keyframes tooltip_down_show {
    0% {
        z-index: $z-tooltip + 5;
        transform: translateY($google-spacing * 2);
    }
    100% {
        transform: translateY($google-spacing);
    }
}
@keyframes tooltip_down_hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY($google-spacing);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY($google-spacing * 2);
    }
}

@keyframes tooltip_up_show {
    0% {
        z-index: $z-tooltip + 5;
        transform: translateY(-$google-spacing * 2);
    }
    100% {
        transform: translateY(-$google-spacing);
    }
}
@keyframes tooltip_up_hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-$google-spacing);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-$google-spacing * 2);
    }
}

@each $media, $size in $media-screens {
    @media (min-width: $size) {
        .kui-tooltip--maxwidth_#{$media} {
            visibility: hidden !important;
            animation: none !important;
        }
    }
}
