@import '../../assets/sass/index.scss';
.kui-select {
    position: relative;

    .kui-dropdown__item {
        min-width: 100%;
    }

    &:not(.kui-select--readonly):not(.kui-select--disabled) {
        .kui-input--readonly {
            .kui-input__item {
                border: 2px solid $color-background;
                background: $color-white;
                cursor: pointer;
            }
        }

        &:hover,
        &.kui-select--opened {
            .kui-input__item {
                border-color: $border-color-hover;
            }

            .kui-input__icon:not(.kui-input__icon--clear) {
                color: $color-base;
            }
        }

        .kui-input__item:focus {
            border-color: $border-color-hover;
        }

        &.kui-select--opened {
            .kui-input__icon--arrow {
                transform: scaleY(-1);
            }
        }
    }

    &.kui-select--variant_header {
        width: $google-spacing * 30;

        .kui-input__item {
            font-size: $base-font-size;
            font-weight: bold;
            border-color: calc-color(fade, $color-base, 0) !important;
            background: $color-white;
        }

        .kui-dropdown__item {
            width: $google-spacing * 30;
        }

        &.kui-select--disabled {
            .kui-input__icon--arrow {
                display: none;
            }
        }
    }

    &--variant_priority { // todo надо перенести, это не селект
        .kui-input {
            &__item,
            &__item[readonly] {
                width: $google-spacing * 13;
                height: $google-spacing * 4;
                font-weight: bold;
                border: 2px dashed calc-color(fade, $color-base, 20);
                border-radius: $google-spacing * 4;
            }
        }

        .kui-dropdown__item {
            min-width: $google-spacing * 25;
        }

        .kui-select-list-item {
            &__col {
                &--icon {
                    flex: 0 0 $google-spacing * 4;
                    color: $color-base;
                }
                &--title {
                    max-width: calc(100% - #{$google-spacing * 4});
                }
            }

            &__icon {
                width: $google-spacing * 3;
                height: $google-spacing * 3;
            }
        }
    }
}
