@import '../../assets/sass/index.scss';
.kui-search {
}

.kui-search--uplifted {
    &.kui-select--opened {
        .kui-input {
            z-index: $z-modaltop;
        }
    }
}

.kui-search__dropdown:not(.kui-search__dropdown--uplifted) {
    .kui-dropdown__item {
        min-width: 100%;
    }
}

.kui-search__dropdown--uplifted {
    .kui-dropdown__item {
        min-width: calc(100% + #{$google-spacing * 2});
        margin-left: -$google-spacing;
    }

    &.kui-dropdown--scroll {
        .kui-dropdown__item {
            min-width: calc(100% + #{$google-spacing * 3});
        }
    }

    &.kui-dropdown--direction_down {
        .kui-dropdown__item {
            margin-top: $google-spacing * -7.5;

            .kui-select--with-label & {
                margin-top: $google-spacing * -9.5;
            }
        }

        .kui-select-list {
            padding-top: $google-spacing * 6;

            .kui-select--with-label & {
                padding-top: $google-spacing * 8;
            }
        }
    }

    &.kui-dropdown--direction_up {
        .kui-dropdown__item {
            margin-bottom: $google-spacing * -7;
        }

        .kui-select-list {
            padding-bottom: $google-spacing * 6;

            .kui-select--with-label & {
                padding-bottom: $google-spacing * 9;
            }
        }
    }
}

.kui-select--disabled {
    .kui-input-search {
        opacity: .3;
    }
}
