@import '../../assets/sass/index.scss';
$selectList: '.kui-select-list';
$selectListItemHoverColor: #F0F1F5;

#{$selectList} {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $milli-size;
    white-space: nowrap;
    color: calc-color(fade, $color-base, 90);
    background: $color-white;

    &__item {
        width: 100%;
        height: $google-spacing * 4;
        margin: 0;
        padding: $google-spacing * 0.5 + 1 $google-spacing;
        cursor: pointer;
        user-select: none;
        border-radius: $big-radius;
        @include transition;

        &.kui-label {
            padding: 0 $google-spacing;
        }

        .kui-checkbox__label {
            padding: $google-spacing * 0.75 $google-spacing * 6 $google-spacing * 0.75 0;
            height: $google-spacing * 4;

            .kui-userpic {
                margin-top: $google-spacing * -0.25;
            }

            &:before,
            .kui-checkbox__checkmark {
                top: $google-spacing * 0.75 + 1; // возможно не на маках съедет
            }
        }

        &:hover {
            color: $color-base;
            background: $selectListItemHoverColor;
        }

        #{$selectList}--noactive
        &:hover:not(&--disabled) {
            background: $color-background;
        }

        &:focus {
            background: $selectListItemHoverColor;
            outline: 0;
        }

        &--active,
        &--active:hover,
        &--active:focus {
            color: $color-base;
            background: calc-color(fade, $color-background, 50);
        }

        &--disabled,
        &--disabled:hover {
            color: calc-color(fade, $color-base, 30);
            background: none;
            cursor: default;
        }

        &.kui-loader-block {
            visibility: hidden;
        }

        &.kui-checkbox {
            display: list-item;

            &:before {
                display: none;
            }
        }
    }

    &--loading {
        min-height: $google-spacing * 10;

        #{$selectList}__item.kui-loader-block {
            visibility: visible;
        }
    }
}
