@import '../../assets/sass/index.scss';
$selectList: '.kui-select-list';

#{$selectList} {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $milli-size;
    white-space: nowrap;
    color: calc-color(fade, $color-base, 90);
    background: $color-white;

    &__item {
        width: 100%;
        height: $google-spacing * 5;
        margin: 0;
        padding: $google-spacing $google-spacing * 2;
        cursor: pointer;
        user-select: none;
        @include transition;

        &:hover {
            color: $color-base;
            background: calc-color(fade, $color-background, 50);
        }

        #{$selectList}--noactive
        &:hover:not(&--disabled) {
            background: $color-background;
        }

        &:focus {
            background: $color-light-background;
            outline: 0;
        }

        &--active,
        &--active:hover,
        &--active:focus {
            color: $color-base;
            background: $color-background;
        }

        &--disabled,
        &--disabled:hover {
            color: calc-color(fade, $color-base, 30);
            background: none;
            cursor: default;
        }

        &.kui-loader-block {
            visibility: hidden;
        }

        &.kui-checkbox {
            display: list-item;

            &:before {
                display: none;
            }
        }
    }

    &--loading {
        min-height: $google-spacing * 10;

        #{$selectList}__item.kui-loader-block {
            visibility: visible;
        }
    }
}