@import '../../assets/sass/index.scss';
.kui-label {
    position: relative;
    display: block;

    &__item {
        display: block;
        padding: 0 0 $google-spacing / 4;
        font-size: $nano-size;
        font-weight: bold;
        color: calc-color(fade, $color-base, 50);
    }
}