@import '../../assets/sass/index.scss';
.kui-label {
    position: relative;
    display: block;

    &__item {
        display: block;
        margin-bottom: $google-spacing * 0.5;
        font-size: $nano-size;
        @include theme() {
            color: calc-color(fade, theme-get('color-base'), 50);
        }
    }
}
