@import '../../assets/sass/index.scss';
.kui-done {
    position: relative;
    width: $google-spacing * 11;
    height: $google-spacing * 4;
    font-size: $milli-size;
    font-weight: bold;
    background: calc-color(fade, $color-base, 20);
    border-radius: $google-spacing * 4;
    overflow: hidden;
    cursor: pointer;

    &.kui-done--empty {
        background: calc-color(fade, $color-base, 0);
        border: 1px dashed calc-color(fade, $color-base, 30);

        .kui-done__bg {
            display: none;
        }

        .kui-done__icon {
            color: calc-color(fade, $color-base, 30);
        }
    }
    
    &.kui-done--inverse {
        .kui-done__percent {
            color: $color-white;
        }
    }

    &.kui-done--done {
        background: calc-color(fade, $color-base, 0);
        border: 1px solid calc-color(fade, $color-base, 30);

        .kui-done__bg {
            display: none;
        }

        .kui-done__icon {
            color: $color-green;
        }

        .kui-done__percent {
            color: $color-base;
        }
    }
}

.kui-done__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: calc-color(fade, $color-base, 30);
}

.kui-done__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $google-spacing 0 $google-spacing / 2;
    height: 100%;
}

.kui-done__icon {
    flex: 0 0 $google-spacing * 3;
    color: $color-white;
}

.kui-done__percent {
    flex: 1 1 100%;
    text-align: center;
}