@import '../../assets/sass/index.scss';
.kui-done {
    position: relative;
    min-width: $google-spacing * 11;
    height: $google-spacing * 4;
    font-size: $milli-size;
    font-weight: bold;
    color: $color-green;
    background: $color-white;
    border-radius: $google-spacing * 4;
    overflow: hidden;
    cursor: pointer;
    display: inline-flex;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $google-spacing * 4;
        border: 2px solid calc-color(tint, $color-green, 30);
    }

    &.kui-done--empty {
        &:after {
            border-color: calc-color(fade, $color-base, 20);
        }

        .kui-done__bg {
            display: none;
        }

        .kui-done__icon {
            color: calc-color(fade, $color-base, 30);
            transform: scale(.9);
        }

        .kui-done__percent {
            color: $color-base;
        }
    }

    &.kui-done--size_small {
        min-width: $google-spacing * 9;
        height: $google-spacing * 3;

        .kui-done__items {
            padding-left: 0;
        }

        .kui-done__percent {
            padding: 0 $google-spacing * .5;
        }
    }
}

.kui-done__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: calc-color(fade, $color-green, 30);
}

.kui-done__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $google-spacing * .25;
    height: 100%;
    width: 100%;
}

.kui-done__icon {
    flex: 0 0 $google-spacing * 3;
    color: $color-green;
}

.kui-done__percent {
    flex: 1 1 100%;
    margin-top: $google-spacing * .25;
    padding: 0 $google-spacing 0 $google-spacing * .75;
    text-align: center;
}
