@import '../../assets/sass/index.scss';
.kui-dropdown {
    position: relative;
    display: none;
    outline: none;
    
    &__item {
        position: absolute;
        z-index: $z-modal;
        overflow: auto;
        scroll-behavior: smooth;
        max-width: 100%;
        padding: $google-spacing 0;
        border-radius: $base-radius;
        box-shadow: $shadow-hover;
        background: $color-white;
        transform: translateY($google-spacing);
        animation: animation_down_off .3s ease forwards;
    }

    &--opened {
        display: block;
    }

    &--opened &__item {
        animation: animation_down_on .3s ease forwards;
    }

    &--direction_up &__item {
        bottom: $google-spacing * 5;
        transform: translateY(-$google-spacing);
        animation: animation_up_off .3s ease forwards;
    }
    
    &--direction_up.kui-dropdown--opened &__item {
        animation: animation_up_on .3s ease forwards;
    }

    &--direction_right &__item {
        right: 0;
    }

    &.kui-dropdown--portal,
    &.kui-dropdown--fit {
        &.kui-dropdown--direction_up.kui-dropdown--opened .kui-dropdown__item {
            max-height: 80vh;
            animation: animation_portal_up_on 0.1s ease forwards;
        }

        &.kui-dropdown--direction_down.kui-dropdown--opened .kui-dropdown__item {
            max-height: 80vh;
            animation: animation_portal_down_on .3s ease forwards;
        }
    }

    &.kui-dropdown--portal {
        position: absolute;
        width: 100vw;
        z-index: $z-tooltip;

        &.kui-dropdown--direction_up .kui-dropdown__item {
            bottom: 0;
        }
    }
}

@keyframes animation_down_on {
    0% {
        z-index: $z-modal + 5;
        transform: translateY($google-spacing * 4) scaleY(.95);
    }
    99% {
        z-index: $z-modal + 5;
        transform: translateY($google-spacing) scaleY(1);
    }
    100% {
        max-height: 80vh;
    }
}
@keyframes animation_down_off {
    0% {
        transform: translateY($google-spacing);
    }
    99% {
        transform: translateY($google-spacing * 4);
    }
    100% {
        max-height: 0;
    }
}

@keyframes animation_up_on {
    0% {
        z-index: $z-modal + 5;
        transform: translateY(-$google-spacing * 4) scaleY(.95);
    }
    99% {
        z-index: $z-modal + 5;
        transform: translateY(-$google-spacing) scaleY(1);
    }
    100% {
        max-height: 80vh;
    }
}
@keyframes animation_up_off {
    0% {
        transform: translateY(-$google-spacing);
    }
    99% {
        transform: translateY(-$google-spacing * 4);
    }
    100% {
        max-height: 0;
    }
}

@keyframes animation_portal_down_on {
    0% {
        z-index: $z-modal + 5;
        transform: translateY($google-spacing * 4) scaleY(.95);
    }
    100% {
        z-index: $z-modal + 5;
        transform: translateY($google-spacing) scaleY(1);
    }
}
@keyframes animation_portal_up_on {
    0% {
        z-index: $z-modal + 5;
        transform: translateY(-$google-spacing * 4) scaleY(.95);
    }
    100% {
        z-index: $z-modal + 5;
        transform: translateY(-$google-spacing) scaleY(1);
    }
}

@media (max-width: $media-iPlus) {
    .kui-dropdown__item {
        min-width: $google-spacing * 25;
    }
}
