@import '../../assets/sass/index.scss';
.kui-radio {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    &__input {
        -webkit-appearance: none;
        position: absolute;
        top: $google-spacing / 4;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $google-spacing * 2.5;
        width: $google-spacing * 2.5;
        background-color: transparent;
        border: 2px solid calc-color(fade, $color-base, 30);
        border-radius: 50%;
        outline: 0;
        box-shadow: none;
        cursor: pointer;
        @include transition;

        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            outline: 0;
            box-shadow: none;
        }

        &:active,
        &:checked,
        &:focus {
            border-color: $color-purple;
        }

        &:after {
            content: '';
            display: block;
            width: $google-spacing * 1.3;
            height: $google-spacing * 1.3;
            background-color: transparent;
            border-radius: 50%;
            pointer-events: none;
            transform-origin: 50% 50%;
            transform: scale(0);
            @include transition;
        }

        &:checked:after {
            background-color: $color-purple;
            transform: scale(1);
        }
    }

    &__label {
        position: relative;
    }

    &__item {
        position: relative;
        display: list-item;
        min-height: $google-spacing * 3;
        padding-top: $google-spacing * .25;
        padding-right: $google-spacing * 4;
        font-size: $milli-size;
        user-select: none;
        cursor: pointer;

        &--disabled {
            pointer-events: none;

            .kui-radio__label {
                color: calc-color(fade, $color-base, 30);
            }

            .kui-radio__input {
                border-color: calc-color(fade, $color-base, 10);
            }

            .kui-radio__input:checked:after {
                background-color: calc-color(fade, $color-base, 30);
            }
        }

        &:focus {
            outline: 0;
        }
    
        &:before {
            @include transition;
            content: '';
            position: absolute;
            left: -$google-spacing;
            right: -$google-spacing;
            top: -$google-spacing * .5;
            bottom: -$google-spacing * .5;
            border-radius: $big-radius;
        }
        
        &:focus:before,
        &:hover:before {
            background: $color-light-background;
        }
    }

    &__item + &__item {
        margin-top: $google-spacing * 2;
    }

    &.kui-radio--direction_left {
        .kui-radio__input {
            right: unset;
            left: 0;
        }

        .kui-radio__item {
            padding-right: 0;
            padding-left: $google-spacing * 4;
        }
    }
}