@import '../../assets/sass/index.scss';
$divider: '.kui-divider';

#{$divider} {
    height: $google-spacing * 2;
    margin: 0;
    padding-top: $google-spacing - 1;
    box-sizing: border-box;
    box-shadow: none;
    &:before {
        content: '';
        display: block;
        height: 2px;
        background: $color-background;
    }
}