@import '../../assets/sass/index.scss';
.kui-snackbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: $google-spacing * 2;
    max-width: $google-spacing * 47.5;
    min-width: $google-spacing * 38;
    min-height: $google-spacing * 7;
    padding: $google-spacing * 2;
    color: $color-white;
    background-color: calc-color(fade, $color-base, 60);
    backdrop-filter: blur(16px);
    border-radius: $large-radius;
    box-shadow: 0 $google-spacing $google-spacing * 2 calc-color(fade, $color-base, 10);
    outline: none;
    @include transition;
    :global {
        animation: snackbarShow .5s ease-in-out forwards;
    }

    &:hover,
    &:focus-within {
        background-color: calc-color(fade, $color-base, 90);
    }

    &__container {
        position: fixed;
        max-width: calc(100% - #{$google-spacing * 4});
        left: $google-spacing * 2;
        z-index: $z-noty;
        bottom: $google-spacing * 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        opacity: .5;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: $google-spacing * 0.5;
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: $google-spacing;

        &-text {
            font-weight: bold;
            font-size: $h5-size;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__text {
        display: flex;
        align-items: center;
        gap: $google-spacing;

        &-text {
            font-size: $milli-size;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__buttons {
        display: flex;
        gap: $google-spacing;
        width: 100%;

        .kui-button {
            flex: 1;
        }
    }

    &__button--primary {
        background: $color-purple;

        &:focus,
        &:hover,
        &:active {
            background: $color-purple-hover;
        }

        &.kui-snackbar__button--timer {
            pointer-events: all;

            .kui-button__progress {
                background: calc-color(fade, $color-white, 20);
            }
        }
    }


    &.kui-snackbar--fadeout {
        opacity: 0;
        transition: opacity 2s;

        &:hover {
            opacity: 1;
        }
    }

    @media (max-width: $media-iPad) {
        width: 100%;
        flex-wrap: wrap;
        padding: $google-spacing * 2;

        &__body {
            order: -1;
        }

        &__title {
            font-size: $base-font-size;
        }
    }
}

@keyframes snackbarShow {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: none;
    }
}
@keyframes snackbarTimer {
    0%,
    100% {
        opacity: .2;
        transform: scale(.2);
    }
    20%,
    80% {
        opacity: 1;
        transform: scale(1);
    }
}
