@import '../../assets/sass/index.scss';

.notification-list-item {
  display: flex;
  flex-direction: row;
  margin-top: $google-spacing;
  margin-bottom: $google-spacing;
  list-style-type: none;

  .notification-list-item__label {
    margin-right: $google-spacing * 7;
    line-height: $google-spacing * 5;
  }
  &:not(:first-of-type) {
    .notification-list-item__label {
      opacity: 0;
    }
  }

  .value-input--container {
    position: relative;
    .value-input {
      width: $google-spacing * 8;
      margin-right: $google-spacing;
    }
  }

  .units-select--container {
    position: relative;
    .units-select--list, .units-select {
      width: $google-spacing * 14;
    }
    .units-select {
      text-transform: capitalize;
      .units-select--item {
        text-transform: capitalize;
      }
    }
  }

  .trash-notification--icon {
    // TODO review positioning after placing into container
    margin-top: $google-spacing;
    margin-left: $google-spacing * 7;
  }
}
