$color-white:               #ffffff !default;
$color-black:               #120021 !default;
$color-base:                material-color("blue-grey", "900") !default;
$color-red:                 material-color("red", "600") !default;
$color-green:               material-color("green", "500") !default;
$color-blue:                material-color("blue", "500") !default;
$color-yellow:              material-color("yellow", "600") !default;
$color-orange:              material-color("orange", "500") !default;
$color-pink:                material-color("pink", "500") !default;
$color-purple:              material-color("deep-purple", "500") !default;
$color-cyan:                material-color("cyan", "500") !default;
$color-background:          #ebedf2;
$color-light-background:    #f8f9fa;

// New Colors 2019-01-28
$color-jazzberry-jam:       material-color("pink", "800") !default; // Jazzberry Jam
$color-swiss-coffee:        material-color("brown", "100") !default; // Swiss Coffee
$color-persimmon:           material-color("orange", "900") !default; // Persimmon
$color-paris-daisy:         material-color("lime", "a200") !default; // Paris Daisy
$color-lawn-green:          material-color("light-green", "a400") !default; // Lawn Green
$color-spring-green:        material-color("green", "a400") !default; // Spring Green
$color-manz:                material-color("lime", "400") !default; // Manz
$color-lucky:               material-color("lime", "800") !default; // Lucky
$color-aqua:                material-color("cyan", "a400") !default; // Aqua
$color-aquamarine:          material-color("teal", "a200") !default; // Aquamarine
$color-light-sky-blue:      material-color("blue", "200") !default; // Light Sky Blue
$color-neon-blue:           material-color("indigo", "a700") !default; // Neon Blue
$color-electric-purple:     material-color("purple", "a700") !default; // Electric Purple
$color-bright-purple:       material-color("purple", "a400") !default; // Bright Purple
$color-bismark:             material-color("blue-grey", "600") !default; // Bismark
$color-indigo:              #5E1172 !default; // Indigo

// Trello import colors
$color-sky:                 #00C2E0 !default;
$color-lime:                #51E898 !default;
$color-trelloBlack:         #4d4d4d !default;

// New Colors 2022-12-01
$color-label-purple:           #8a5cff; // fix purple label

$color-label-pastel-red:       #ffa9ae;
$color-label-pastel-orange:    #ffdcad;
$color-label-pastel-yellow:    #fde791;
$color-label-pastel-green:     #c8e5c2;
$color-label-pastel-blue:      #bfd9fd;
$color-label-pastel-purple:    #dbd3fd;
$color-label-pastel-pink:      #f9d2e8;
$color-label-pastel-brown:     #dfd4cd;
$color-label-pastel-light-grey:#dfe2e7;
$color-label-pastel-grey:      #cacfd8;
$color-label-vivid-red:        #fe4f5a;
$color-label-vivid-orange:     #ffb047;
$color-label-vivid-yellow:     #fbd22d;
$color-label-vivid-green:      #67b757;
$color-label-vivid-blue:       #5c9efa;
$color-label-vivid-purple:     #8b72f9;
$color-label-vivid-pink:       #e74ba3;
$color-label-vivid-brown:      #b79f8f;
$color-label-vivid-light-grey: #a5adbb;
$color-label-vivid-grey:       #718098;

$colors: (
        'red':              (color: $color-red), // Old Colors
        'green':            (color: $color-green),
        'blue':             (color: $color-blue),
        'yellow':           (color: $color-yellow, text: $color-base),
        'orange':           (color: $color-orange, text: $color-base),
        'pink':             (color: $color-pink),
        'purple':           (color: $color-label-purple, text: $color-white),
        'cyan':             (color: $color-cyan),
        'sky':              (color: $color-sky), // Trello Colors
        'lime':             (color: $color-lime),
        'black':            (color: $color-trelloBlack),
        'jazzberry-jam':    (color: $color-jazzberry-jam), // New Colors 2019-01-28
        'swiss-coffee':     (color: $color-swiss-coffee),
        'persimmon':        (color: $color-persimmon),
        'paris-daisy':      (color: $color-paris-daisy),
        'lawn-green':       (color: $color-lawn-green, text: $color-base),
        'spring-green':     (color: $color-spring-green, text: $color-base),
        'manz':             (color: $color-manz),
        'lucky':            (color: $color-lucky),
        'aqua':             (color: $color-aqua, text: $color-base),
        'aquamarine':       (color: $color-aquamarine),
        'light-sky-blue':   (color: $color-light-sky-blue),
        'neon-blue':        (color: $color-neon-blue),
        'electric-purple':  (color: $color-electric-purple),
        'bright-purple':    (color: $color-bright-purple),
        'bismark':          (color: $color-bismark),
        'indigo':           (color: $color-indigo),
        'FEB3B3':           (color: #FEB3B3), // old card colors
        'F08577':           (color: #F08577),
        'FF9280':           (color: #FF9280),
        'D09E8D':           (color: #D09E8D),
        'FFAB80':           (color: #FFAB80),
        'F5BE7A':           (color: #F5BE7A),
        'FAD165':           (color: #FAD165),
        'FBE983':           (color: #FBE983),
        'BFC1B0':           (color: #BFC1B0),
        'C8F59A':           (color: #C8F59A),
        '98DE6F':           (color: #98DE6F),
        '51E898':           (color: #51E898),
        '69D1A2':           (color: #69D1A2),
        '91E6C0':           (color: #91E6C0),
        'A4EEED':           (color: #A4EEED),
        '9FE1E7':           (color: #9FE1E7),
        'C6DEFB':           (color: #C6DEFB),
        'C0C6CF':           (color: #C0C6CF),
        '90B3EB':           (color: #90B3EB),
        '9A9CFF':           (color: #9A9CFF, text: $color-white),
        'B99AFF':           (color: #B99AFF),
        'AD82EA':           (color: #AD82EA, text: $color-white),
        '5E1172':           (color: #5E1172),
        'E190F8':           (color: #E190F8),
        'F691B2':           (color: #F691B2),
        'D1BFC2':           (color: #D1BFC2),
        'pastel-red':       (color: $color-label-pastel-red), // New Colors 2022-12-01
        'pastel-orange':    (color: $color-label-pastel-orange),
        'pastel-yellow':    (color: $color-label-pastel-yellow),
        'pastel-green':     (color: $color-label-pastel-green),
        'pastel-blue':      (color: $color-label-pastel-blue),
        'pastel-purple':    (color: $color-label-pastel-purple),
        'pastel-pink':      (color: $color-label-pastel-pink),
        'pastel-brown':     (color: $color-label-pastel-brown),
        'pastel-light-grey':(color: $color-label-pastel-light-grey),
        'pastel-grey':      (color: $color-label-pastel-grey),
        'vivid-red':        (color: $color-label-vivid-red, text: $color-white),
        'vivid-orange':     (color: $color-label-vivid-orange),
        'vivid-yellow':     (color: $color-label-vivid-yellow, text: $color-base),
        'vivid-green':      (color: $color-label-vivid-green),
        'vivid-blue':       (color: $color-label-vivid-blue, text: $color-white),
        'vivid-purple':     (color: $color-label-vivid-purple, text: $color-white),
        'vivid-pink':       (color: $color-label-vivid-pink),
        'vivid-brown':      (color: $color-label-vivid-brown, text: $color-white),
        'vivid-light-grey': (color: $color-label-vivid-light-grey, text: $color-white),
        'vivid-grey':       (color: $color-label-vivid-grey),
);
