@import '../src/assets/sass/index.scss';

body {
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    overflow: auto;
}

section {
    padding: 2em;
    z-index: $z-initials;
}

.section {
    &-grey {
        background: $color-background;
    }

    &-purple {
        color: $color-white;
        background: $color-purple;
    }

    &-black {
        color: $color-white;
        background: $color-base;
    }

    &-form-min {
        max-width: $google-spacing * 50;
    }

    &-relative {
        position: relative;
    }
}

.icons-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    text-align: center;

    &__item {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: center;
        width: $google-spacing * 16;
        height: $google-spacing * 8;
    }

    &__letter {
        margin: 1em 0 0;
        width: 100%;
        color: calc-color(tint, $color-base, 30);
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__icon,
    &__text {
        flex: 1 0 100%;
    }

    &__icon {
        margin-top: 1rem;
    }

    &__text {
        font-size: $piko-size;
        color: calc-color(fade, $color-base, 50);
    }

    &--large {
        .icons-grid__item {
            height: $google-spacing * 16;
        }
    }
}

.snackbars {
    .kui-snackbar__container {
        position: relative;
        left: 0;
        transform: translateX(0);
    }
}

.stories-loader-small {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: $google-spacing * 5;
    width: $google-spacing * 5;
}

.stories-tooltips {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    height: $google-spacing * 60;
    max-width: 90%;
    margin-left: 10%;

    & > * {
        flex: 1 1 33%;
    }

    &__left {
        text-align: left;
    }

    &__center {
        text-align: center;
    }

    &__right {
        text-align: right;
    }
}

.stories-hint-tutor {
    width: 300px;
}
.card-for-tutorial-hint {
    margin-bottom: $google-spacing;
    width: 300px;
    height: 100px;
    text-align: center;
    background: $color-background;
}

.w100px {
    width: 100px;
}

.story-tags-max-width-100 {
    .kui-tag__text {
        max-width: 100px;
    }
}

.stories-accordions {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    @include wrap-scroll;

    .kui-section-accordion {
        @include wrap-scroll-inner;
    }
}

.kui-button-dropdown.stories-dropdown-100 {
    display: block;

    .kui-dropdown__item {
        min-width: 100%;
    }

    .kui-checkbox__label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

#stories-portal {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
}

.stories-dropdown-visible .kui-dropdown__item {
    overflow: visible;
}

.stories-colors__item {
    display: inline-flex;
    align-items: center;
    width: 45%;
    height: $google-spacing * 4;
    margin: 0 $google-spacing $google-spacing 0;
    padding: 0 $google-spacing;
    font-size: $milli-size;
    border-radius: $big-radius;

    @each $name, $item in $colors {
        $color: map-get($item, 'color');
        $text: get-label-color($item);

        &--#{$name} {
            color: $text;
            background: $color;
        }
    }
}

.stories-colors__card {
    display: inline-flex;
    align-items: center;
    width: 45%;
    height: $google-spacing * 4;
    margin: 0 $google-spacing $google-spacing 0;
    padding: 0 $google-spacing;
    font-size: $milli-size;
    border-radius: $big-radius;

    @each $name, $item in $colors {
        $color: map-get($item, 'color');
        $text: get-text-color($item);
        @warn $color;

        &-bgcolor-#{str-slice(#{$color}, 2)} {
            color: $text;
            background: $color;
        }
    }
}